@using System.Collections
@using eAd.Website.eAdDataService
<h2> Station Summary </h2>
Number Of Stations Deployed:  <b>@ViewBag.StationsCount</b> <br/>
Number Of Stations Online:  <b>@ViewBag.StationsOnlineCount</b><br/>
<br/>
@{
    var summary = (IEnumerable<StationViewModel>)ViewBag.StationSummary;
}
<table>
<tr>
<td>Name &nbsp;&nbsp;</td>
<td>Last CheckIn &nbsp;&nbsp;</td>
<td>Online &nbsp;&nbsp;</td>
<td>Available &nbsp;&nbsp;</td>
<td>Map &nbsp;&nbsp;</td>
<td colspan="2">Actions &nbsp;&nbsp;</td>
</tr>
  
@foreach (var station in summary)
{ 
    <tr>

    <td>@station.Name &nbsp;&nbsp;</td>
<td>@(station.LastCheckIn!=null?station.LastCheckIn.ToString():"Never") &nbsp;&nbsp;</td>
<td>@(station.IsOnline?"Yes":"No") &nbsp;&nbsp;</td>
<td>@(station.Available?"Yes":"No") &nbsp;&nbsp;</td>
<td>   @Html.ActionLink("Map", "Index", "Map", new { stationID = station.StationID }, new { @class = "mapLink" })</td>
     <td>
     <input type="button" value="Engage" name="Engage" onclick="Engage@(station.StationID)()"/>
   @*  @Html.ActionLink("Engage", "Engage", "Station", new { stationID = station.StationID }, new { onlick = "Engage"+@station.StationID+"();" })*@
     <input type="text" id="RFID@(station.StationID)" value="1" /><br />
     <script type="text/javascript">
   function Engage@(station.StationID)()
    {
       $.ajax({
  type: 'POST',
  url: "/Station/Engage",
  data: { stationID: "@(station.StationID)", rfidCode: $("#RFID@(station.StationID)").val() }
 
});
     
    }
   </script>
     </td>
     <td>@Html.ActionLink("DisEngage", "DisEngage", "Station", new { stationID = station.StationID }, null)</td>
    </tr>
}
</table>

<br/>
Last Sent Message: @ViewBag.LastMessage

