@using eAd.Website.Controllers
@using eAd.Website.Extensions
@using eAd.Website.Repositories
@model eAd.DataAccess.Medium

@{
    ViewBag.Title = "Create";
}

<h2>Create New Media</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.marquee.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
@*Pick Type Of Upload
<div class="editor-field">
    Media Type: @Html.DropDownList("MediaType", String.Empty)
</div>*@

<div class="editor-field">
    @Html.AjaxUpload("MediaPictureUpload", (string)Url.Action("AjaxUpload", "Upload", new { type = UploadType.Media }), (string)"Choose File", (string)"File To Upload")
   
</div> 

<div id ="results"></div>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>
<script type="text/javascript">

    function HandleType(uploadid, type, thumbnail, text, path, duration, originalFileName) {
      switch (type) {
            case "Video":
                $("#results").load("../Media/CreateVideo?uploadid=" + uploadid + "&type=" + type + "&thumbnail=" + thumbnail
            + "&text=" + text + "&path=" + path + "&duration=" + duration + "&originalFileName=" + originalFileName);
                break;
            case "Powerpoint":
                $("#results").load("../Media/CreatePowerpoint?uploadid=" + uploadid + "&type=" + type + "&thumbnail=" + thumbnail
            + "&text=" + text + "&path=" + path + "&duration=" + duration + "&originalFileName=" + originalFileName);
                break;
            case "Image":
                $("#results").load("../Media/CreatePicture?uploadid=" + uploadid + "&type=" + type + "&thumbnail=" + thumbnail
            + "&text=" + text + "&path=" + path + "&duration=" + duration + "&originalFileName=" + originalFileName); break;
            case "Flash":
                $("#results").load("../Media/CreateFlash?uploadid=" + uploadid + "&type=" + type + "&thumbnail=" + thumbnail
            + "&text=" + text + "&path=" + path + "&duration=" + duration + "&originalFileName=" + originalFileName); break;
            case "Marquee":
                $("#results").load("../Media/CreateMarquee?uploadid=" + uploadid + "&type=" + type + "&thumbnail=" + thumbnail
            + "&text=" + text + "&path=" + path + "&duration=" + duration + "&originalFileName=" + originalFileName); break;
            default:
                alert("Please Upload Only Supported File Types: Images (jpg,gif,png), Video(All Formats), Flash (swf), Powerpoint(ppt,pptx), Marquee (txt)");
        }
       
    }
  
</script>