@{
        Layout = "";
    }
@using eAd.Website.Extensions
@model IEnumerable<eAd.DataViewModels.MediaListModel>
  
Pick item(s) from the Library

<div class="editor-field">
   Name: @Html.TextBox("MediaName", "")
   Type: @Html.DropDownList("Types", String.Empty) 
</div>

<script type="text/javascript">
    $(document).ready(function () {

        var content = $('#MediaName').val();

        $('#MediaName').keyup(function () {
            if ($('#MediaName').val() != content) {
                content = $('#MediaName').val();
                $("#results").load("Media/PickerList?name=" + $("#MediaName").val() + "&type=" + $("#Types").val());
   
            }
        });
        
        $("#MediaName").change(function () {
         });

        $("#Types").change(function () {
            $("#results").load("Media/PickerList?name=" + $("#MediaName").val() + "&type=" + $("#Types").val());
        });
    });
</script>
@using (Html.BeginForm())
{
<div id="results">
<p>
@*    @Html.ActionLink("Create New", "Create")*@
</p>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Duration
        </th>
        <th>
            Select
        </th>
       
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @item.Duration.ToReadableString()
        </td>
      
         <td>
            @Html.EditorFor(modelItem => item.Selected)
        </td>
        
    </tr>
}

<div>
    @Html.ActionLink("Accept", "Index")
</div>


</table>
</div>
       <p>
            <input id="Accept" type="submit" value="Accept Selection" />
        </p>
}
<div>
    @Html.ActionLink("Accept", "Index")
</div>

<script type="text/javascript">
    $(function () {
        $("#Accept").button();

    });
    $(function () {


        $('form').submit(function () {
            if ($(this).valid()) {
                $.ajax({
                    url: this.action,
                    type: this.method,
                    data: $(this).serialize(),
                    success: function (result) {
                        // $('#result').html(result);
                        alert(result);

                        window.parent.CloseMediaPicker();
                    }
                });
            }
            return false;
        });
    });
</script>