@using eAd.Utilities
@using eAd.Website.Extensions
@model IEnumerable<eAd.DataViewModels.MediaListModel>
@{
    Layout = "";
}
<script type="text/javascript">

    function callBack() 
    {
       // alert("Called Back");
    }
</script>
@{
    var grid = new WebGrid(Model, new List<string>() { "Title" }, rowsPerPage: 3, ajaxUpdateCallback:"callBack",ajaxUpdateContainerId:"grid",
             canPage: true);
}

@grid.GetHtml(htmlAttributes: new {id="grid"},columns: grid.Columns
                                                                                                                                          (
                                                                                                                                              grid.Column("Name",format:@<text>
                                                                                                                                                                             <table>
                                                                                                                                                                                 <tr>
                                                                                                                                                                                     <td>
                                                                                                                                                                                         <img src="@item.DisplayLocation" @*alt="[@(MimeExtensionHelper.GetSimpleType(item.DisplayLocation))]"*@ width="96" height="72" alt=""/>
                                                                                                                                                                                     </td>
                                                                                                                                                                                 </tr>
                                                                                                                                                                                 <tr>
                                                                                                                                                                                     <td>
                                                                                                                                                                                         @item.Name
                                                                                                                                                                                     </td>
                                                                                                                                                                                 </tr>
                                                                                                                                                                             </table>
                                                                                                                                                                         </text>),
                                                                                                                                              grid.Column("Type"),
                                                                                                                                              grid.Column("Duration", format:@<text>
                                                                                                                                                                                  @item.Duration
                                                                                                                                                                              </text>),
                                                                                                                                              grid.Column("Select", format: @<text>
                                                                                                                                                                                 <input type="hidden" id="@("hidden-" + item.MediaID)" name="@("hidden-" + item.MediaID)" value="@item.Name"/>
                                                                                                                                                                                 <input id="@("select-" + item.MediaID)" class="check-box" type="checkbox" value="@item.Selected.ToString()" name="@("select-" + item.MediaID)"/>
                                                                                                                                                                             </text>),
                                                                                                                                              grid.Column(format: (item) => Html.ActionLink("Edit", "Edit", new { id = (string) item.MediaID.ToString() }))

                                                                                                                                          //      grid.Column(format: (item) => Html.ActionLink("Delete", "Delete", null, new { onclick = string.Format("deleteRecord('Cart', '{0}')", item.MediaID), @class = "Delete", href = "JavaScript:void(0)" }))
                                                                                                                                          )
                                                                                             )
@*<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Type
        </th>
        <th>
            Duration
        </th>
        <th>
            Select
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <img src="@( !(String.IsNullOrEmpty(item.DisplayLocation)) ? "Uploads/Temp/Media" + "/" + "Thumb" + Path.GetFileNameWithoutExtension(item.DisplayLocation) + ".jpg" : "/Content/Images/no_image.gif")" alt="[@(MimeExtensionHelper.GetSimpleType(item.DisplayLocation))]" width="96" height="72" />
                         </td>
                    </tr>
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @item.Duration.ToReadableString()
            </td>
            <td>
                <input type="hidden" id="@("hidden-" + item.MediaID)" name="@("hidden-" + item.MediaID)" 
                  value="@item.Name"/>
                <input id="@("select-" + item.MediaID)" class="check-box" type="checkbox" value="@(item.Selected.ToString())" name="@("select-" + item.MediaID)"/>
                @Html.EditorFor(modelItem => item.Selected,"select-"+item.MediaID)
            </td>
        </tr>
    }
</table>*@
