@using System.Web.Configuration;
@using System.Configuration;
@using eAd.Website.Extensions
@using irio.utilities

@{
    Layout = null;
}

<script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.blockUI.js")" type="text/javascript"></script>

<div id="orange-box">
<div id="UploadResult">

</div>


           
      @Html.AjaxUpload((string)@ViewBag.Name, (string)Url.Action("AjaxUpload", "Upload",new { type = @ViewBag.Type }), (string)"Choose File", (string)"File To Upload")
      
    <p class="note">
        Maximum allowed file size: @PrettyPrinter.FormatByteCount((ulong)((HttpRuntimeSection)ConfigurationManager.GetSection("system.web/httpRuntime")).MaxRequestLength * 100)
    </p>

   </div>
   <script type="text/javascript">

       function onSuccess(e) {

           $('#UploadResult').html("Success (" + e.operation + ") :: " + getFileInfo(e));
       }

       function getFileInfo(e) {
           return $.map(e.files, function (file) {
               var info = file.name;

               // File size is not available in all browsers
               if (file.size > 0) {
                   info += " (" + Math.ceil(file.size / 1024) + " KB)";
               }
               return info;
           }).join(", ");
       }
</script>