@model IEnumerable<eAd.DataAccess.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Customer
        </th>
        <th>
            Make
        </th>
        <th>
            Model
        </th>
        <th>
            License
        </th>
        <th>
            BatteryCharge
        </th>
        <th>
            LastRechargeDate
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Make)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.License)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BatteryCharge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastRechargeDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CarID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CarID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CarID })
        </td>
    </tr>
}

</table>
